
.collectionsTable 
{
    border: 3px solid #dddddd !important;
    padding: 0.5em;
}

.collectionsTable  h2
{
    background-color: #666666;
    color: #ffffff;
    font-size: 1.5em;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
}